= year_album link: "/web_album_2009_2010", title: "2009-2010 навчальний рік", image: "photo/album_title/2009_10.jpg" do
  p Фотоальбом з самого першого уроку української недільної школи 1 березня 2009 і вистави «Зимова казка» 18 січня 2009 року.
