= year_album link: "/year2013_14", title: "Навчальний рік 2013/14 ", image: "photo/2013/DSC_0189.jpg" do
  p Сторінки випускного фотоальбому і відео Шевченківських читаннь &mdash; учні читають Шевченка.
