= year_album link: "http://dzherelce.github.io/web_album_2011_2012", title: "Навчальний рік 2011/12 ", image: "photo/2011/IMG_1684.jpg" do
  p Річний фотоальбом: Наші уроки, День святого Миколая, Вертеп, Намалюю писанку, День Мами, літня школа.
