= year_album link: "/year2015_16", title: "Навчальний рік 2015/16 ", image: "photo/2015/parade/10956258_570325406442466_40013393305004875_n.jpg" do
  p Фото навчалього року, відео Українського Фестивалю #{q "День України 2015"}, та українського різдва в Йокогамі за школи #{q "Джерельце"}. Свята Святого Миколая та Колодія в Джерелці.
