= year_album link: "/year2016_17", title: "Навчальний рік 2016/17 ", image: "photo/2016/vypusk/IMG_4319.jpg" do
  p Фото навчалього року, відео Українського Фестивалю #{q "День України 2016"}, та випускної вистави #{q "Кицькин дім"}.
