= year_album link: "/year2017_18", title: "Навчальний рік 2017/18 ", image: "photo/2017/1st/IMG_4618_1.jpg" do
  p Перший дзвінок, свято Миколая &mdash; миколайчики розписані своїми руками, новорічні свята &mdash; Маланка та Василь з козою. Вистава #{q "Лісова Пісня"}. Фото та відео з уроків #{q "Джерельця"}
