= year_album link: "/year2010_11", title: "Навчальний рік 2010-11 ", image: "photo/2010/IMG_7314.jpg" do
  p Річний фотоальбом і відео Різдвяного Вертепу поставленого батьками та вчителями школи (Відео).
