= year_album link: "http://dzherelce.github.io/web_album_2012_2013", title: "Навчальний рік 2012/13 ", image: "photo/2012/DSC_0780.jpg" do
  p Наші вчителі, Свято осені, День Св. Миколая, Щедрий вечір, День Мами, на природі, постановка #{q "Коза-дереза"}
