= year_album link: "/year2014_15", title: "Навчальний рік 2014/15 ", image: "photo/2014/IMG_4684.jpg" do
  p Сторінки випускного фотоальбому і відео Першого Українського Фестивалю в центральній Японії, Йокогама за участі учнів та батьків #{q "Джерельця"}
