
#headerwrap {
    background: url(/assets/images/photo/bg6.jpg) no-repeat center top;
    background-repeat: no-repeat;
    /* height: 100% !important; */
    height: 100%;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;


    p {
        font-family: 'Izhitsa Cyrillic', arial;
	    text-shadow: 1px 1px 1px #ddd;
    }
}
