---
layout: layout
---

= partial "partials/home"
= partial "partials/about"
= partial "partials/schedule"
= partial "partials/address"
= partial "partials/register"
= partial "partials/teachers"
p
= partial "partials/photo_link"
