---
layout: layout
---

#headerwrap[name="home" ]
  header.clearfix
    p Фото, відео
    p Укра¿нська школа
      <span> «Джерельце»</span>

    #backgrounds
      =image_tag "bg/bg1.jpg"
      =image_tag "bg/bg2.jpg"
      =image_tag "bg/bg3.jpg"
      =image_tag "bg/bg4.jpg"
      =image_tag "bg/bg5.jpg"
      =image_tag "bg/bg6.jpg"
      =image_tag "bg/bg7.jpg"
      =image_tag "bg/bg8.jpg"

= partial :photo_all_years
