---
layout: layout
---

#headerwrap.image-filter[name="home" ]
  header.clearfix
    p Фото, відео
    p Українська школа
      <span> «Джерельце»</span>

    #backgrounds
      =image_tag "photo/2014/DSC05059.jpg"
      =image_tag "photo/bg/10548286_615799558452293_1409495397656294537_o.jpg"
      =image_tag "photo/2013/DSCF6047.jpg"
      =image_tag "photo/2014/DSC05210.jpg"
      =image_tag "photo/bg/10830980_615796658452583_2095323912317629608_o.jpg"
      =image_tag "photo/bg/IMG_2289.jpg"
      =image_tag "photo/bg/10700376_599255790106670_8788536067176710225_o.jpg"
      =image_tag "photo/bg/IMG_2290.jpg"
      =image_tag "photo/2013/IMG_0863.jpg"
      =image_tag "photo/bg/IMG_2294.jpg"
      =image_tag "photo/bg/15000649_1255808271154143_6716615870235443082_o.jpg"
      =image_tag "photo/2014/IMG_4664.jpg"
      =image_tag "photo/bg/15003462_1255807367820900_3355456959112591818_o.jpg"
      =image_tag "photo/2014/IMG_8155.jpg"
      =image_tag "photo/bg/15994671_1343006895767613_3635992405874153716_o.jpg"
      =image_tag "photo/bg/IMG_2284.jpg"
      =image_tag "photo/bg/IMG_2287.jpg"
      =image_tag "photo/2013/IMG_6130.jpg"
      =image_tag "photo/bg/IMG_2312.jpg"
      =image_tag "photo/bg/IMG_2357.jpg"
      =image_tag "photo/bg/10899960_615796995119216_8811795781105989210_o.jpg"
      =image_tag "photo/bg/14939410_1255807691154201_9088600828356895079_o.jpg"
      =image_tag "photo/bg/14940108_1255807694487534_1522481938751613797_o.jpg"
      =image_tag "photo/bg/IMG_4664.jpg"
      =image_tag "photo/bg/IMG_4676.jpg"
      =image_tag "photo/bg/IMG_4689.jpg"
      =image_tag "photo/bg/15972686_1343007155767587_1055973017491391593_o.jpg"
      =image_tag "photo/bg/IMG_4731.jpg"
      =image_tag "photo/bg/IMG_4795.jpg"

#photo.container[name="photo"]
  .row.white
    br
    h1.centered Фотоальбоми та відео
    hr.centered
      .col-sm-10.col-md-8.col-sm-offset-1.col-md-offset-2
          p.centered На цій сторінці зібрані відео та фотоматеріали з заходів та уроків Української школи #{q "Джерельце"}, фестивалів, концертів та інших подій за участі учнів та батьків школи.



    = partial "partials/components/albums_container" do
      = partial "partials/cards/2018"
      = partial "partials/cards/2017"
      = partial "partials/cards/2016"
      = partial "partials/cards/2015"
      = partial "partials/cards/2014"
      = partial "partials/cards/2013"
      = partial "partials/cards/2012"
      = partial "partials/cards/2011"
      = partial "partials/cards/2010"
      = partial "partials/cards/2009"

= partial "partials/maibutne"
